h1 a{ 
    color: black; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42px; 
    text-decoration: none;
    display: flex;
    align-items: center;
}
.navegador{
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
}
.lista-nav{
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px;
}
.titulo-destacados{
    color: black;
    font-size: 35px;
}
.img-destacados{
    width: 400px;
    height: 400px;
}
.texto-destacados{
    color: black; 
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;  
    width: 400px;
}
.contenedor{
    display: flex;
    align-items: center;
}
.art-1{
    margin-right: 45px;
}
.art-2{
    margin-left: 45px;
}
.art-3{
    margin-left: 90px;
}
.titulo-seccion{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px; 
}
.titulo-art{
    color: black; 
    font-size: 25px; 
    width: 300px;
}
.img-art{
    width: 300px;
    height: 300px;
}
.texto-art{
    width: 300px; 
    font-family: 'Courier New', Courier, monospace; 
    font-size: 15px
}
.boton{
    color:red; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.links{
    font-style: oblique;
    font-weight: 900;
    text-decoration: none;
}
.formulario{
    width: 350px;
}
.texto-footer{
    font-size: 10px; 
    font-family: cursive;
    text-align: center;
}