* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    padding: 16px;
    background: black;
}
header h1 a{
    font-size: 24px;
    color: white;
    justify-content: center;
    list-style: none;
    text-decoration: none;
}
header nav ul{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    padding: 16px;
    color: white;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}
.navbar a{
    width: 100%;
    color: white;
    font-size: 10px;
    text-decoration: none;
    justify-content: space-around;
    flex-direction: row;
}

.titulo-articulo{
    color: red;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: left;
}
.grid-container{
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.grid-item{
    background-color:rgb(252, 247, 247);
} 
img{
    width: 100%;
    height: auto;
}
.texto-articulo{
    width: 100%;
    height: auto;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}