* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    padding: 16px;
    background: black;
}

header h1 a {
    font-size: 24px;
    color: white;
    width: 100%;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    padding: 16px;
    color: white;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.navbar a {
    width: 100%;
    color: white;
    font-size: 10px;
    text-decoration: none;
    justify-content: space-around;
    flex-direction: row;
}

.titulo-articulo {
    color: red;
    padding: 16px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: left;
}

.grid-container {
    /* padding: 16px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}

.grid-item {
    background-color: rgb(252, 247, 247);
}

img {
    width: 100%;
    height: auto;
}

.texto-articulo {
    width: 100%;
    height: auto;
    padding: 10px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo-seccion {
    color: rgba(0, 0, 0, 0.562);
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20 px;
}

.texto-footer {
    background-color: black;
    color: aquamarine;
    font-size: 8px;
    font-family: cursive;
    text-align: center;
}

@media(min-width: 768px) {
    header h1 a {
        font-size: 60px;
    }

    .navbar a {
        font-size: 20px;
    }

    .titulo-articulo {
        font-size: 25px;
    }
    .grid-container {
        padding: 16px;
    }
    .titulo-seccion {
        font-size: 50px;
    }

    .texto-footer {
        font-size: 16px;
        font-family: cursive;
        text-align: center;
    }

    img {
        width: 100%;
        height: auto;
    }

    .texto-articulo {
        width: 100%;
        height: auto;
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}