* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 16px;
    background: black;

    h1 a {
        font-size: 24px;
        font-family: "Trade Winds", system-ui;
        color: rgba(255, 255, 255, 0.877);
        width: 100%;
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

    div nav {
        ul {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: row;
            padding: 16px;
            color: white;
            list-style: none;
            justify-content: space-around;
            align-items: center;
            text-transform: uppercase;

            .navbar a {
                width: 100%;
                color: white;
                font-size: 10px;
                text-decoration: none;
                justify-content: space-around;
                flex-direction: row;
            }
        }
    }
}

.titulo-articulo {
    color: red;
    padding: 16px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: left;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 100%;
    margin: auto;
    padding: 20px;

    .grid-item {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }
}

img {
    width: 100%;
    height: auto;
}

.texto-articulo {
    width: 100%;
    height: auto;
    padding: 10px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo-seccion {
    color: rgba(0, 0, 0, 0.562);
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(30, end), blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.grid-nosotros {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.img-destacados {
    width: 100%;
    height: auto;
}

.texto-art {
    width: 100%;
    height: auto;
    align-content: space-around;
}

.colab-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    gap: 10px;
}

.colaboraciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    h3 {
        display: flex;
        justify-content: center;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

.grid-experiencias {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 100%;
    margin: auto;
    padding: 20px;

    .grid-art {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    .img-art {
        width: 100%;
        height: auto;
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content:space-between;
    gap: 20px;
    align-items: center;
    color: #ddd;
    
    .social-icons{
        display: flex;
        flex-direction: row;
        align-content:space-evenly;
        align-items: center;
        list-style: none;
        gap: 1rem;

        li{
            a{
                text-decoration: none;
                color:red;
                font-size: 18px;
                font-weight: bold;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                text-decoration: solid;
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        a {
            text-decoration: none;
            color: #ddd;
            text-transform: uppercase;
            align-items: center;
        }
    }

    p {
        margin: 0px;
        font-size: 12px;
    }
}

@media(min-width: 768px) {
    header h1 a {
        font-size: 60px;
    }

    .navbar a {
        font-size: 20px;
    }

    .titulo-articulo {
        font-size: 25px;
    }

    .grid-container {
        padding: 16px;
    }

    .titulo-seccion {
        font-size: 50px;
    }



    img {
        width: 100%;
        height: auto;
    }

    .texto-articulo {
        width: 100%;
        height: auto;
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .grid-experiencias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 100%;
        margin: auto;
        padding: 20px;
    }

    .grid-art {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    .img-art {
        width: 100%;
        height: auto;
    }

    footer {
        .social-icons {
            display: flex;
            flex-direction: column;
        }

        .menu {
            display: flex;
            flex-direction: row;
        }
    }
        
}

@media(min-width: 1200px) and (max-width: 1400px) {
    .navegador {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header div nav ul li {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: row;
        padding: 16px;
        color: white;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
    }

    .navbar a {
        width: 100%;
        color: white;
        font-size: 15px;
        text-decoration: none;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .grid-container {
        display: flex;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 16px;
        justify-content: space-between;
        align-items: center;
    }

    img {
        width: 100%;
        height: auto;
    }

    .texto-articulo {
        width: 100%;
        height: auto;
        padding: 10px;
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .grid-nosotros {
        display: flex;
        flex-direction: column;
        padding: 16px;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }

    .img-destacados {
        width: 80%;
        height: auto;
    }

    .titulo-seccion {
        color: rgba(0, 0, 0, 0.562);
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        align-items: center;
        justify-items: center;
    }

    .texto-art {
        width: 80%;
        text-align: center;
        margin: 20px;
    }

    .grid-experiencias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        max-width: 100%;
        margin: auto;
        padding: 20px;
    }

    .grid-art {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    .img-art {
        width: 100%;
        height: auto;
    }
}